﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информационный портал «Рязань о происходящем»</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="container nn" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navb">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navb" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a asp-controller="Home" asp-action="Archive">Архив</a></li>
                    <li><a asp-controller="Home" asp-action="Articles">Статьи</a></li>
                    <li><a asp-controller="Home" asp-action="Rules">Правила</a></li>
                    <li><a asp-controller="Home" asp-action="Ads">Реклама</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container body-content">
    @RenderBody()
</div>
<footer>
    <hr/>
    <div style="display: inline-block;">
        <div style="position: relative; width: 88px; height: 31px; display: inline-block;">
            <img src="~/images/009.png" alt="Посещение сайта" style="position: absolute; left: 0; top: 0;">
            <div style="position: absolute; right: 3px; top: 0;">@ViewData["c01"]</div>
            <div style="position: absolute; right: 3px; top: 12px;">@ViewData["c02"]</div>
        </div>
    </div>
    <div class="row text-center">
        <p>&copy; 2004-2017 - Информационный портал «Рязань о происходящем»</p>
    </div>
</footer>
</body>
</html>
