@model WebApplication3.Models.ArticleModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

 <form asp-action="Create" asp-controller="Articles" method="post" enctype="multipart/form-data">
        <div class="form-horizontal">
            <h4>ArticleModel</h4>
            <hr />
            <div class="form-group">
                <label asp-for="id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="id" class="form-control" />
                    <span asp-validation-for="id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="tittle" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Html.TextArea("tittle", string.Empty, 5, 120, null)
                    <span asp-validation-for="tittle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="time" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="time" class="form-control" />
                    <span asp-validation-for="time" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="info" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Html.TextArea("info", string.Empty, 10, 120, null)
                    <span asp-validation-for="info" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="full" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Html.TextArea("full", string.Empty, 70, 120, null)
                    <span asp-validation-for="full" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="file" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input name="file" type="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
