<div class="main">
    <h1>Архив новостей</h1>

            <div class="row">
                @foreach (WebApplication3.Models.News item in Model)
                {
                    <div class="col-md-4" >
                        <div class="thumbnail">
                            @Html.Raw("<img style='width:315px; height:225px;' src=\"data:image/jpeg;base64,"+ Convert.ToBase64String(item.Img) + "\" />")
                            <h6>@item.Date</h6>
                            <h3 ><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h3>
                            <p >@item.Info</p>
                        </div>
                    </div>
                }
            </div>

        <div class=" text-center">
  
                <ul class="pagination">
                    @{ int id = (int) ViewData["id"]; }
                    @if (id >= 2)
                    {
                        <li><a asp-controller="Home" asp-action="Archive" asp-route-page=@(id - 1)>Назад</a></li>
                    }
                    <li><a asp-controller="Home" asp-action="Archive" asp-route-page=@(id+1)>Вперёд</a></li>
                </ul>
      
            <form asp-controller="Home" asp-action="Date" method="get">
                <text>Укажите дату: </text><input asp-route="date" name="date" type="datetime" value="2017-01-01"><input type="submit" />
           
            </form>
            <div style="height: 20px;"></div>
        </div>
    </div>
