
<div class="row">
    <div class="col-md-8 text-justify art">
        <h1>Статья</h1>
        <h2>@Model.tittle</h2>
        <img id="wpic" src="/Images/GetById?id=@Model.id"/>
        <h6>@Model.getDate() @Model.time</h6>
        <div style="text-indent: 30px; ">
            @Html.Raw(Model.getFull())
        </div>
    </div>
    <div class="col-md-4 menu">
        <h3>Последние новости</h3>
        @{ var list = (List<WebApplication3.Models.News>)ViewData["last"];}
        @foreach (var item in list)
        {
            <div class="row">
                <div class="col-xs-4 pic">
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                </div>
                <div class="col-xs-8">
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h5>
                </div>
            </div>
        }
    </div>
</div>


