
<div class="row">
    <div class="col-md-8" style="color: black;">

        <div class="main">
            <div class="row text-center">
                <h1 style="margin-bottom:30px">Статьи</h1>
            </div>

            <div class="row">
                @foreach (WebApplication3.Models.Article item in Model)
                {
                    <div class="col-md-6">
                        <div class="thumbnail" >
                           <img src="/Images/GetById?id=@item.id"/>
                            <h6>@item.getDate() @item.time</h6>
                            <h3><a asp-controller="Home" asp-action="Article" asp-route-id=@item.id>@item.tittle</a></h3>
                            <p>@item.info</p>
                        </div>
                    </div>
                }
            </div>
 
            <div class="col text-center">
            
                    <ul class="pagination">
                        @{ int id = (int) ViewData["id"]; }
                        @if (id >= 2)
                        {
                            <li><a asp-controller="Home" asp-action="Articles" asp-route-page=@(id-1)>Назад</a></li>
                        }
                        <li><a asp-controller="Home" asp-action="Articles" asp-route-page=@(id+1)>Вперёд</a></li>
                    </ul>
        
            </div>
        </div>

    </div>
    <div class="col-md-4 menu">
        <h3>Последние новости</h3>
        @{ var list = (List<WebApplication3.Models.News>)ViewData["last"];}
        @foreach (var item in list)
        {
            <div class="row">
                <div class="col-xs-4 pic">
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                </div>
                <div class="col-xs-8">
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h5>
                </div>
            </div>
        }
    </div>
</div>
