﻿<div class="row">
    <div class="col-md-8" style="color: black;">
        <h1>Контакты</h1>

            <p>390006, Рязанская обл, город Рязань, улица Свободы, 43</p>
            <p>Телефон (4912) 24-01- 00</p>
            <p>E-mail: leon_elena@list.ru</p>

    </div>
    <div class="col-md-4 menu">
        <h3>Последние новости</h3>
        @{ var list = (List<WebApplication3.Models.News>)ViewData["last"];}
        @foreach (var item in list)
        {
            <div class="row">
                <div class="col-xs-4 pic">
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                </div>
                <div class="col-xs-8">
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h5>
                </div>
            </div>
        }
    </div>
</div>
