<div class="main">
    <br/>
    <h2 style="text-align: center">@Model[0].Date</h2>
    <br/>
    <div class="row">
        @foreach (WebApplication3.Models.News item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" style="height: 500px">
                    @Html.Raw("<img style='width:315px; height:225px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                    <h6>@item.Date</h6>
                    <h4><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h4>
                    <p>@item.Info</p>
                </div>
            </div>
        }
    </div>
</div>
