
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Http Not Found</title>
</head>
<body>
<h1>Error 404. Not found.</h1>
</body>
</html>
