﻿@using WebApplication3.Models
<br/>
<div class="row sname">
    <div class="col-md-3 text-center">
        <img src="~/images/inet-gazeta_ryazan_logo.png" />
    </div>
    <h1>Информационный портал «Рязань о происходящем»</h1>
    <div class="col-md-9 text-right">
        
        <h3>Нет! Не отговорила роща золотая</h3>
        <h3>Берёзовым, весёлым языком…</h3>
    </div>
 
</div>
<hr/>
<div class="main">
    <div class="row">
        @for(int i=0;i<3;i++)
        {
            <div class="col-md-4"> 
                <div class="thumbnail">
                    @Html.Raw("<img src=\"data:image/jpeg;base64,"+ Convert.ToBase64String(Model[i].Img) + "\" />")
                    <h6>@Model[i].Date</h6>
                    <h3><a asp-controller="Home" asp-action="View" asp-route-id=@Model[i].Id>@Model[i].Tittle</a></h3>
                    <p>@Model[i].Info</p>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @for (int i=3; i < 9; i++)
        {
            <div class="col-md-2">
                <div class="thumbnail little">
                    @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model[i].Img) + "\" />")
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@Model[i].Id>@Model[i].Tittle</a></h5>   
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/rek2.jpg" style="width: 100%"/>
        </div>
        <div class=" col-md-6">
            @{ var s = (Article)ViewData["state"];}
            <h3 class="text-center" style="color: darkblue; font-size: 24pt; font-weight: bold;">Статьи</h3>
            <div class="thumbnail">
                <a asp-controller="Home" asp-action="Article" asp-route-id=@s.id><h3>@s.tittle</h3></a>
                <img style="width: 100%; height: auto" src="/Images/GetById?id=@s.id"/>
                <h6>@s.getDate() @s.time</h6>
                <p>@s.info</p>
            </div>

        </div>
        <div class="col-md-3">
            <table cellpadding=0 cellspacing=0 width=233 style="border:solid 1px #2762f1;font-family:Arial;font-size:12px;background-color:#ffffff"><tr><td><table width=100% cellpadding=0 cellspacing=0><tr><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png" bgcolor=#2762f1> </td><td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png" bgcolor=#2762f1><a style="color:#ffffff; font-family:Arial;font-size: 12px;" href="https://rp5.ru/7217/ru"><b>Рязань</b></a></td><td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#2762f1> </td></tr></table></td></tr><tr><td valign=top style="padding:0;"><iframe src="https://rp5.ru/htmla.php?id=7217&lang=ru&um=00000&bg=%23ffffff&ft=%23ffffff&fc=%232762f1&c=%23000000&f=Arial&s=12&sc=4" width=100% height=268 frameborder=0 scrolling=no style="margin:0;"></iframe></td></tr></table>
        </div>
    </div>
    <div class="row text-center">
        <img src="~/images/reklama.jpg" style="width: 100%"/>
    </div>
</div>