﻿<div class="row">
    <div class="col-md-8 text-justify model" style="color: black;">
        <h1>Правила</h1>
        <article>
            <p><b>ООО «Рязань о происходящем» действует на основании Устава в соответствии с существующим законодательством.  </b></p>							<p>I.РЕГИСТРАЦИЯ</p>

            <p>Только зарегистрированные пользователи получают через оплату доступ к эксклюзивному контенту интернет-газеты «Рязань о происходящем» (http://ryazan-portal.info/), которая&nbsp;является независимым сетевым изданием не подконтрольным ни одному олигарху.&nbsp;</p>

            <p>II. КОНФИДЕНЦИАЛЬНОСТЬ</p>

            <p>Компания ООО «Рязань о происходящем» (http://ryazan-portal.info/)&nbsp;уважает право каждого пользователя сайта на&nbsp;конфиденциальность. Просим Вас ознакомиться с&nbsp;Соглашением о&nbsp;конфиденциальности в&nbsp;отношении персональных данных пользователей (далее&nbsp;– Соглашение).</p>

            <p>Соглашение определяет условия и&nbsp;цели сбора, хранения, защиты, обработки и&nbsp;распространения информации о&nbsp;пользователях интернет-ресурса «Рязань о происходящем». Регистрируясь на&nbsp;портале ryazan-portal.info,&nbsp;Вы&nbsp;автоматически подтверждаете своё согласие с&nbsp;настоящим Соглашением.</p>

            <p><strong>Соглашение о&nbsp;конфиденциальности</strong></p>

            <p>1.<em>Получение и использование личной информации</em></p>

            <p>Пользователи предоставляют порталу «Рязань о происходящем» (http://ryazan-portal.info/) свою персональную информацию в&nbsp;запрашиваемом объёме. «Рязань о происходящем» осуществляет сбор персональной информации пользователей исключительно на&nbsp;добровольной основе. Пользователь даёт согласие на&nbsp;проверку своих персональных данных модератором.</p>

            <p>В&nbsp;состав запрашиваемой персональной информации входят имя, фамилия и&nbsp;адрес электронной почты.</p>

            <p>В&nbsp;отдельных случаях «Рязань о происходящем» может запросить информацию о&nbsp;наименовании, виде деятельности компании, в&nbsp;которой работает пользователь, и&nbsp;о&nbsp;его должности.</p>

            <p>Пользователи, предоставившие персональные данные, подтверждают своё согласие на&nbsp;использование их&nbsp;в&nbsp;целях получения новостных анонсов, а&nbsp;также в&nbsp;целях информирования о&nbsp;новых продуктах и&nbsp;сервисах интернет-ресурса «Рязань о происходящем». «Рязань о происходящем» обязуется принимать все разумные меры по&nbsp;защите персональной информации пользователей от&nbsp;уничтожения, искажения или разглашения.</p>

            <p>2.<em>Раскрытие полученной информации третьим лицам</em></p>

            <p>«Рязань о происходящем» вправе передать персональную информацию о&nbsp;пользователе третьим лицам в&nbsp;случае, если:</p>

            <p>– пользователь сам изъявил желание раскрыть эту информацию, в&nbsp;том числе путём размещения сообщений на&nbsp;форуме ryazan-portal.info,&nbsp;которые могут быть использованы в&nbsp;порядке ст.&nbsp;42 закона о&nbsp;СМИ;</p>

            <p>– без этого пользователь не&nbsp;может воспользоваться неким продуктом или услугой, запрашиваемыми через сайт «Рязань о происходящем»;</p>

            <p>– этого требует российское, международное законодательство и/или&nbsp;органы власти с&nbsp;соблюдением законной процедуры;</p>

            <p>– пользователь нарушает пользовательское соглашение с&nbsp;ryazan-portal.info.</p>

            <p>3.<em>Доступ к личной информации и её обновление</em></p>

            <p>В&nbsp;соответствии с&nbsp;федеральным законом РФ&nbsp;№152-ФЗ&nbsp;«О&nbsp;персональных данных» вся собранная, хранящаяся и&nbsp;обработанная информация о&nbsp;пользователях считается информацией ограниченного доступа, если иное не&nbsp;установлено законодательством Российской Федерации. Пользователь может потребовать удалить, исправить или проверить свои персональные данные путём: отправки запроса с&nbsp;электронной почты, которая указывалась для регистрации пользователем; отправки письма в&nbsp;адрес редакции с&nbsp;доказательствами, позволяющими установить личность пользователя.</p>

            <p>4.<em>Изменения в соглашении</em></p>

            <p>Администрация интернет-ресурса «Рязань о происходящем» оставляет за&nbsp;собой право в&nbsp;одностороннем порядке вносить любые необходимые изменения в&nbsp;настоящее Соглашение. «Рязань о происходящем» обязуется сообщать пользователям на&nbsp;сайте ryazan-portal.info или с&nbsp;помощью рассылки на&nbsp;электронный адрес регистрации о&nbsp;планируемых изменениях не&nbsp;менее чем за&nbsp;7&nbsp;дней до&nbsp;вступления этих изменений в&nbsp;силу. Продолжая пользоваться услугами и&nbsp;сервисами http://ryazan-portal.info/ после вступления в&nbsp;силу изменений, пользователь тем самым подтверждает свое согласие с&nbsp;ними.</p>

            <p>III. АВТОРСКОЕ ПРАВО</p>

            <p>
                Любое использование материалов допускается только при соблюдении правил перепечатки и при наличии гиперссылки на интернет-газету «Рязань о происходящем».<br>
                Новости, аналитика, прогнозы и другие материалы, представленные на данном сайте, не являются офертой или рекомендацией к покупке или продаже каких-либо активов.
            </p>

            <p>IV. УЧАСТИЕ В ОБСУЖДЕНИЯХ МАТЕРИАЛОВ в СОЦСЕТЯХ</p>

            <p>Целевые группы нашего сетевого издания представлены во всех крупных социальных сетях. Ссылки для перехода размещены соответствующими значками на заглавной странице. Отказ на вступление в группы получают пользователи без фотографий, с чужими изображениями, псевдонимами и прочими нечеловеческими именами. Нам нужны читатели, а не пользователи.&nbsp;</p>

            <p>1.<em>Что принято в обсуждениях</em></p>

            <p>
                Обсуждения построены на открытости и взаимном уважении. Каждый участник сообщества читателей имеет право на собственную точку зрения. Даже если другим она кажется неверной.<br>
                Все участники обсуждения имеют полное право на критику обсуждаемых текстов. При этом следует помнить, что переход на личности других участников дискуссии или авторов – свидетельство слабой позиции в споре.<br>
                Перед публикацией сообщения стоит задуматься о том, аккуратно ли изложены факты, корректны ли сделанные оценки. Иначе может пострадать как авторитет участника Сообщества, так и общий уровень дискуссии.<br>
                Участники сообщества могут размещать сообщения в наших группах&nbsp;в любое время дня и ночи. Мы приложим все усилия для того, чтобы у наших пользователей не возникало проблем в общении. Если такие проблемы возникают, мы всегда рады помочь по линии обратной связи.<br>
                Сообщение, написанное в группе хорошим русским языком, будет прочитано другими с гораздо большей охотой и вниманием.<br>
                Не стоит использовать для написания одного или всех слов в сообщении заглавные буквы или ПлаВаЮщиЙ шрифт (если это, конечно, не всем известная аббревиатура). Среди участников групп&nbsp;вряд ли найдёт отклик злоупотребление смайликами и тому подобными символами псевдографики.<br>
                На наших обсуждениях не принято без особой надобности цитировать собственные и чужие сообщения целиком. Это доставляет неудобства при прочтении всей ветки обсуждения.<br>
                Мы готовы в кратчайшие сроки реагировать на жалобы участников нашего сообщества. Чтобы сообщить о нарушении данных Правил, Вы можете отписать напрямую главному редактору сайта «Рязань о происходящем» – rpifeedback@gmail.com. Однако мы рассчитываем, что участники сообщества не будут злоупотреблять этой возможностью.
            </p>

            <p>2. <em>Что при обсуждениях запрещено</em></p>

            <p>
                Во время обсуждений/комментариев, как, впрочем, и везде, нельзя нарушать законы Российской Федерации.<br>
                Мы категорически настаиваем на том, чтобы участники сообщества не использовали для входа в сообщество читателей и сообщений чужие или ложные личные данные и не передавали другим свои данные. Одновременный доступ по одним и тем же данным будет автоматически заблокирован.<br>
                Все участники сообщества в группах&nbsp;– наши гости. Они не имеют права оскорблять и унижать друг друга.<br>
                Мы не желаем на наших площадках&nbsp;слышать оскорбления, угрозы и обвинения в любой форме (в том числе в виде вопросов и предположений) в адрес редакции,&nbsp;авторов и&nbsp;администраторов. Нельзя позволять себе публичные высказывания, умаляющие честь, достоинство и деловую репутацию друг друга. Если участник сообщества пожелает разместить на форуме рекламу (сайтов, продуктов, услуг и тому подобное), ему необходимо купить размещение рекламы на сайте. При обсуждениях реклама запрещена. Мы также надеемся, что желающие заняться попрошайничеством найдут для этого другое место.<br>
                Нельзя ругаться матом в явном или завуалированном виде: это могут услышать женщины и дети.<br>
                Не стоит засорять форумы однотипными или бессодержательными сообщениями, а также сообщениями, не относящимися к обсуждаемой теме, и также равно провокационными сообщениями с целью вызвать конфликты между участниками форума (троллинг).
            </p>

            <p>Администрация сайта – это судья на игровом поле. Спорить с судьей или обсуждать его решения публично нельзя.</p>

            <p>3. <em>Что мы можем делать</em></p>

            <p>Мы можем на основании ст. 42 закона РФ «О СМИ» использовать публикации в группах в наших сообщениях и материалах.</p>

            <p>
                При незначительном нарушении Правил мы будем предупреждать участника сообщества.<br>
                Если нарушение правил значительно или оно уже не первое на счету участника Сообщества, мы заблокируем ему доступ здесь, а также к платному контенту на самом сайте. При этом никакой компенсации стоимости платного доступа мы не производим.<br>
                В особо тяжелых случаях мы заблокируем доступ всех пользователей с IP адреса участника Сообщества, поставим в известность его работодателя, провайдера и правоохранительные органы.<br>
                Мы оставляем за собой право не объяснять причины своих действий (или бездействия) при регистрации новых участников Сообщества или блокирования нарушителей этих простых Правил.
            </p>

            <p>&nbsp;</p>

            <div class="clr"></div>
            <div class="clr"></div>
        </article>
        

    </div>
    <div class="col-md-4 menu">
        <h3>Последние новости</h3>
        @{ var list = (List<WebApplication3.Models.News>)ViewData["last"];}
        @foreach (var item in list)
        {
            <div class="row">
                <div class="col-xs-4 pic">
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                </div>
                <div class="col-xs-8">
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h5>
                </div>
            </div>
        }
    </div>
</div>
