
<div class="row">
    <div class="col-md-8 text-justify art" style="color: black;">
        <h1>Новости</h1>
        <h2>@Model.Tittle</h2>
        @Html.Raw("<img id='imd'  src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Img) + "\" />")
        <h6>@Model.Date</h6>
        <p>@Model.Full</p>
        <img id="ad" src="~/images/ad3.jpg"/>
    </div>
    <div class="col-md-4 menu">
        <h3>Последние новости</h3>
        @{ var list = (List<WebApplication3.Models.News>)ViewData["last"];}
        @foreach (var item in list)
        {
            <div class="row">
                <div class="col-xs-4 pic">
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Img) + "\" />")
                </div>
                <div class="col-xs-8">
                    <h5><a asp-controller="Home" asp-action="View" asp-route-id=@item.Id>@item.Tittle</a></h5>
                </div>
            </div>
        }
    </div>
</div>


