﻿@media (min-width: 1200px) {
    nav,
    .body-content 
    {
        width: 1020px;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }
    #navb > ul > li > a {
        width: 170px;
        padding-left: 55px;
    }
    .nn {
        padding: 0;
    }
}
#navb > ul > li > a {
    color: white;
    margin: 0 auto;
}
.icon-bar {
    background-color: white;
}
nav {
    background-color: darkblue;
}

#navb > ul > li > a:hover {
    background-color: blue;
}

#navb > ul > li > a:focus {
    background-color: blue;
}

nav {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.navbar {
    margin-bottom: 0;
}
footer {
    text-align: center;
    padding-top: 20px;
}

.sname {
    color: darkblue;
}
.sname > div > img {
    height: 250px;
    padding: 20px;
}
h1 {
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 14pt;
}

.pic {
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
}
.pic > img {
    width: 100%;
}
.menu {
     box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    padding-bottom: 20px;
}
.model {
    padding-left: 50px;
    padding-right: 50px;
    text-indent: 20px;
}
#wpic {
    width: 100%;
    padding: 10px;
}
.art {
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}
.art > h2 {
    font-size: 18pt;
    font-weight: bold;
    color: blue;
}
.art > p {
    text-indent: 20px;
    font-size: 14pt;
}
.main {
    padding-top:20px;
}
.thumbnail > h3 {
    height: 90px;
    font-weight: bold;
}
.little > h5 {
    font-size: 10pt;
}
.little {
    height: 200px;
    text-align: left;
}
.thumbnail {
    text-align: justify;
}
.thumbnail > img {
    height: 195px;
}
.thumbnail > p {
    height: 110px;
}
.little >img {
    height: auto;
}
#imd {
    width: 100%;
}
#ad {
    width: 920px;
}
img {
    display: block;
    margin: 0 auto;
}